<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coming Soon</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<div class="coming-content">
			<div class="coming-soon">
				<span>Сайт находится в разработке...</span>
			</div>
			<div class="logo-fone"></div>
		</div>
	</div>
</body>
</html>