<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dating Park</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="js/jquery-2.0.2.js"></script>
	<script src="js/index.js"></script>
</head>
<body >
	<div class="scrollfix">
		<div class="container">
			<div class="telefone">
				<div class="contact">
					<div class="btn-what">
						<img src="images/mycontact.png" class="what">
					</div>
					<span class="contact_text"> Контакты</span>
				</div>
				<div class="call">
					<div class="call-btn">

						<img src="images/callme.png" class="call_me">
					</div>
					<span class="call_text">Заказать обратный звонок</span>
				</div>
			</div>
			<div class="menu-container">
				<div class="menu">
					<div class="right_menu">
						<a href="#6"<span class="about"> Мероприятия</span></a>
						<a href="#7" <span class="about"> Места</span></a>
					</div>
					<a href='#' class="logotip">
						<img src="images/logo.png" class="logo">
					</a>
					<div class="left_menu">
						<a href="#5"><span class="media"> Галерея</span></a>
						<a href='#4'><span class="media"> Отзывы</span></a>
					</div>
				</div>
				<div class="logo"></div>
			</div>
			<div class="content">
				<!--Главная-->
				<div class="home">
					<div class="home_items">
						<div class="home_item">
							<img src="images/images1.png" class="one">
							<div class="text-one">
								<span>Что такое Speed Dating?</span>
							</div>
							<div class="to-page">
								<span>Формат «speed dating» был придуман в 1998 году раввином Яковом Дево из Лос-Анджелеса, чтобы...</span>
							</div>
							<!-- Ссылка -->
							<a href='#1' class="arrow"></a>
						</div>
						<div class="home_item">
							<img src="images/images2.png" class="one">
							<div class="text-one">
								<span>Как это работает?</span>
							</div>
							<div class="to-page">
								<span>Почему экспресс-свидания?</span>
							</div>
							<!-- Ссылка -->
							<a href='#2' class="arrow"></a>
						</div>
						<div class="home_item">
							<img src="images/images3.png" class="one">
							<div class="text-one">
								<span>Советы и рекоммендации.</span>
							</div>
							<div class="to-page">
								<span>Как вести себя на свиданиях, чтобы понравится?</span>
							</div>
							<!-- Ссылка -->
							<a href='#3' class="arrow"></a>
						</div>
					</div>
					<div class="invite-btn">
						<span class="invite">Подать заявку</span>
					</div>
				</div>
				<!--Отзывы-->
				<div class="page_block">
					<div class="page_cont comment-cont _4">
						<div class="comment-place">
							<div class="comment-one">
								<div class="place_user marg">
									<div class="place_avatar">
										<div class="avatar"></div>
									</div>
									<span class="name_user">Анна</span>
								</div>
								<div class="place_comment">
									<span class="comment_user"> Все было замечательно! Особенно понравились конкурсы =)</span>
								</div>
							</div>
							<div class="comment-two">
								<div class="place_user">
									<div class="place_avatar">
										<div class="avatar"></div>
									</div>
									<span class="name_user">Виктор</span>
								</div>
								<div class="place_comment">
									<span class="comment_user"> Было очень клево! Вот только участниц бы побольше!</span>
								</div>
							</div>
						</div>
						<div class="place_button-invite">
							<span> Оставить отзыв</span>
						</div>
					</div>
					
					<!--Что такое Speed Dating-->
					<div class="page_cont history-cont _1">
							<a href="#" class="back">Назад</a>
							<img src="images/rightarrow.png"  class="page_arrow to-left" rol="left">
							<img src="images/leftarrow.png" class="page_arrow to-right" rol="right">
							<div class="page_wrap">
								<div class="page">
									<h3>Немного истории.</h3>
									Формат «speed dating» был придуман в 1998 году раввином Яковом Дево из Лос-Анджелеса, чтобы помочь людям, желающим вступить в брак, найти друг друга. Первая вечеринка мини-свиданий прошла в Беверли Хиллз в конце 1998 года в «Pete’s Cafe». Очень быстро спид-дейтинг распространился по всему миру как революционный способ знакомств для успешных, но загруженных работой одиноких профессионалов<br>В Лондоне вечеринки проходят с аншлагом, попасть в зону speed dating без предварительной регистрации практически невозможно. В США вечеринки мини-свиданий превратились в модный тренд, их посещают известные личности, показывают в кино: от «Секса в большом городе» и «Правила съёма: Метод Хитча» до «Симпсонов».Такая форма знакомств в наше время приобрела уже высокую популярность. В эпоху высоких технологий люди много времени проводят в Сети. Популярные раньше виды знакомств постепенно вытесняются. Люди все больше общаются в сети, но это редко приводит к близким отношениям. Можно долго общаться онлайн, так никогда и не увидев собеседника<br>Проблема живого общения с целью знакомства для создания семьи становится все более актуальной. Спид-дейтинг позволяет в сжатые сроки пообщаться с 10–15 людьми противоположного пола, узнать их хобби, род занятий.
								</div>
								<div class="page">
									В силу высокой занятости людей подобные мероприятия приобрели большую популяр­ность в России. В Москве первая спид-дейтинг–вечеринка прошла 24 февраля 2009 года.
									Следует отметить, что аналогичные знакомства проводились в Москве ещё в 80х годах прошлого века. Они носили название «экспресс-знакомства „японский стол“». В отличие от спид-дейтинга они не являлись вечеринками и проводились в дневное время, обычно в выходные дни. Для их проведения обычно использовались большие залы в различных домах культуры ввиду того, что группы были довольно большими. «Японский стол» позволял познакомиться сразу с 30–50 и более лицами противоположного пола. Для проведения таких мероприятий приглашались артисты или массовики-затейники. <br>ВЕЧЕРИНКИ SPEED-DATING ЭТО УДОБНЫЙ И СОВРЕМЕННЫЙ СПОСОБ РЕАЛЬНО НАЙТИ СВОЮ ЛЮБОВЬ, а также расширить круг знакомых и друзей.
									Тебе надоели неадекватные люди из соц.сетей? Работа не дает шансов наладить личную жизнь? Просто хочется чего-то нового? ПОПАДИ на вечер экспресс-знакомств "ПАРК СВИДАНИЙ".
									На мероприятии у ТЕБЯ ЕСТЬ РЕАЛЬНАЯ возможность побывать на рандеву с 10-15 людьми противоположного пола ЗА 2 ЧАСА, пришедших также с ЦЕЛЬЮ ПОЗНАКОМИТСЯ. КОЛИЧЕСТВО МЕСТ ВСЕГО 30, поэтому регистрация на вечер всегда только ПРЕДВАРИТЕЛЬНАЯ, так мы можем гарантировать ваше участие в ней. И советуем делать это своевременно. 
								</div>
								<div class="page">
									<h3>Преимущества вечеринок:</h3>
									- Полный визуальный контроль собеседника в отличии от социальных сетей <br>
									- Благоприятная обстановка для знакомства <br>
									- Большой выбор за короткий промежуток времени
									- Полная анонимность (фотографии публикуются только с разрешения участников) <br>
									- Море позитивных эмоций и хорошее настроение на всю следующую неделю (это так, поверьте!) <br> 
									- Розыгрыш призов и подарков, а также конкурсы.
													
								</div>
								<div class="page">
									<h3>О нас.</h3>
									Мы организуем вечеринки экспресс-свиданий в Астрахани не так давно, но уже поняли как это полезно, интересно, сложно и просто одновременно.
									Формат Speed-dating вечеринок пришел в Россию с запада, а конкретно из США, и у нас они только набирают популярность. Поэтому пока очень много людей, не зная что это, скептически относятся к ним, считают что это все бессмысленно. 
									Вечеринки speed dating "Парк Свиданий" не имеют ничего общего с банальными и скучными вечерами знакомств а-ля «Для тех, кому за». На speed dating собираются успешные люди, которые любят пробовать новое и современное. А некоторое затишье в их личной жизни связано исключительно с плотным рабочим графиком, не позволяющим уделять много времени поискам потенциального спутника жизни.
									Кто-то приходит к нам найти вторую половинку и он её находит, кому-то везет только с третьего раза, другие находят просто отличных собеседников и полезных знакомых. Некоторые приходят ради здорового интереса, но встречают человека с которым выстраиваются серьезные отношения.
									Мы проводим мероприятия для людей стремящихся увеличить свои шансы в активном поиске найти свою любовь и сделать жизнь еще более наполненной яркими событиями.
									Также на каждой вечеринке мы разыгрываем призы от наших партнеров.
								</div>
							</div>
						
					</div>
					<!--Как это работает-->
					<div class="page_cont about-cont _2">
							<a href="#" class="back">Назад</a>
							<img src="images/rightarrow.png"  class="page_arrow to-left" rol="left">
							<img src="images/leftarrow.png" class="page_arrow to-right" rol="right">
							<div class="page_wrap">
								<div class="page">
									<h3>Почему именно экспресс-свидания?</h3>
									Во-первых, где еще можно пообщаться за 2 часа с 15 девушками, настроенными на новые знакомства? Даже если на улице подходить к каждой такого количества не получить. <br>
									Во-вторых, большое преимущество перед социальными сетями! Так как у девушек бытует мнение, что через интернет знакомятся  робкие и не решительные  мужчины, а мужчины же считают, что знакомство в сетях - это как взять кота в мешке. <br>
									В-третьих, вы получаете личные контакты людей противоположного пола, понравившихся вам, и которые не против встретиться с вами еще раз, но уже в любой удобной вам обстановке.<br>
									И в-четвертых, стоимость участия равна стоимости одного свидания в ресторане. 
								</div>
								<div class="page">	
									<h3>Мифы о SPEED-DATING:</h3>
									Миф 1:<br>
									«На вечеринки знакомств приходят неинтересные закомплексованые люди, которые не могут познакомиться традиционным способом» <br>
									НА САМОМ ДЕЛЕ: Много людей в городах заняты ответственной работой, своим бизнесом и другими важными и ответственными делами, поглощающими много времени. Организуемые нами быстрые свидания – для самодостаточных людей, способных ценить и экономить время. <br>
									Миф 2:<br>
									«5-7 минут недостаточно для того, чтобы узнать человека» <br>
									НА САМОМ ДЕЛЕ: Абсолютное большинство людей планеты складывают своё основное мнение и выстраивают свои отношения с человеком, получив о нём впечатления в течение первых ТРЁХ МИНУТ знакомства. <br>
								</div>
								<div class="page">
									Миф 3:<br>
									«Мне трудно знакомиться первым, я не знаю о чем говорить» <br>
									НА САМОМ ДЕЛЕ: Если люди обрели взаимные друг к другу симпатии – можно и помолчать – всё равно комфортно, а всё сказанное уже имеет не столь существенное значение. <br>
									Миф 4:<br>
									«На вечеринках знакомств невозможно найти мужчину/женщину для серьезных отношений» <br>
									НА САМОМ ДЕЛЕ: Всё зависит от задачи – если есть цель иметь серьёзные отношения – их можно начать после случайного знакомства в метро, стоит ли ждать случая – быть может, именно на вечеринке  «Парк Свиданий» – Ваш реальный шанс! Как минимум – это реальный и удобный случай!
								</div>
							</div>
		
					</div>
					<!-- Советы и рекоммендации -->
					<div class="page_cont cont-advice _3">
							<a href="#" class="back">Назад</a>
							<img src="images/rightarrow.png"  class="page_arrow to-left" rol="left">
							<img src="images/leftarrow.png" class="page_arrow to-right" rol="right">
							<div class="page_wrap">
								<div class="page"> Все отношения начинаются с первой
									встречи. Поэтому она должна быть
									особенно красивой и запоминающейся.
									Даже если не заглядывать далеко вперед
									и не планировать серьезных отношений,
									хочется, чтобы первая встреча оставила после себя массу приятных впечатлений.
									Как подготовиться к свиданию?</div>
								<div class="page">МУЖЧИНАМ! <br>
									Будем делать все по порядку. Внешний вид человека — это его визитка. Можно предстать перед девушкой в образе уверенного  мачо, а можно быть просто робким и скромным парнем. Главное, чтобы вид соответствовал вашему внутреннему миру. Делаем прическу заблаговременно, желательно даже сходить к парикмахеру. Не забудьте ПОБРИТЬСЯ. Главное — очень аккуратно, порезы на лице будут смотреться немного глупо. Главное преимущество мужчин — НЕ НУЖНО ДЕЛАТЬ МАКИЯЖ И КРАСИТЬ НОГТИ, поэтому мы явно тратим меньше времени на сборы. Девушек можно сразить наповал своей романтичностью, поэтому ПОЧИТАЕМ СТИХИ Пушкина, чтобы на свидании прошептать: <br>"Я вас любил: любовь еще, быть может, <br>
									В душе моей угасла не совсем; <br>Но пусть она вас больше не тревожит; <br>
									Я не хочу печалить вас ничем.<br>
									Я вас любил безмолвно, безнадежно, <br>
									То робостью, то ревностью томим;...
									"</div>
								<div class="page"> Шутка конечно!!! <br>
									Одеться желательно солиднее.  И главное — чтобы чувствовать в этих вещах себя комфортно. 
									И ещё несколько правил, которые рекомендуем соблюдать на speed-dating'е: <br>
									— Оставить плохое настроение и свои проблемы дома. <br>
									— Смотреть на девушку как на человека, с которым просто приятно общаться. <br>
									— Не думать о последствиях встречи и не бояться все испортить. <br>
									— Вести себя вежливо, не грубить, не материться. Лучше весело шутить. <br>
									— Делать девушке комплименты. <br>
									— Смотреть в глаза, когда она или ты ей что-то рассказываете. Открытый взгляд говорит об искренности.
								</div>
								<div class="page">
								   ДЕВУШКАМ! <br>
									Свидание как таковое всегда волнует своей неизвестностью, окутано мечтами и фантазией. Чтобы сердце не билось от волнений и переживаний, подготовимся к экспресс-свиданиям заранее. Лучше начать собираться как можно раньше, ведь у девушек столько дел!  ПОДКРАСИМ ГЛАЗА, но помните: макияж должен быть лёгким и приятным. Также не делайте помпезных причесок, это может напугать парня. Лучше ОФОРМИТЬ ПРИЧЕСКУ с помощью фена и пенки для волос. То, что сделано просто — выглядит эффектно. Затем ВЫБЕРЕМ НАРЯД. Лучше надевать не новое платье, а проверенную одежду, которая подчеркивает ваши достоинства и скрывает недостатки. Спортивный костюм — не лучший вариант. 
								</div>
								<div class="page">А чтобы парня заинтересовать, нужно поразить его своим умом. Можно, например, рассказать ему интересные истории и факты о любви: <br>
									— Традиция носить обручальные кольца на безымянном пальце пришла к нам от древних египтян, у которых её переняли греки и римляне. Средневековые авторы объясняли это тем, что якобы через безымянный палец проходит “vena amoris” — вена любви, идущая прямо к сердцу. <br>
									— 29 февраля в Ирландии женщины могут самостоятельно делать предложение мужчинам. Эта традиция берёт своё начало в законе 11 века, по которому отказавший мужчина был обязан уплатить штраф. <br>
									— Одной из первых валентинок была карточка, посланная в 1415 году Чарлзом, герцогом Орлеанским, своей жене из тюрьмы Тауэр, где он был в заточении. Карточка до сих пор хранится в Британском музее.
									Оригинальный способ признаться в симпатии — подарить своей пассии обыкновенный помидор. Когда-то давно во Франции его называли “помм де амур” — “яблоко любви”.
								</div>
								<div class="page">
									И не забудьте — позитивный настрой – один из важнейших моментов, от которого зависит успех во всех делах, тем более в свидании. Нужно выдавать девушке не слишком много информации в первую встречу, а иначе вас будут считать занудой и эгоистом. Давайте слово даме. Также перед свиданием прокрутите в голове самые распространенные темы для бесед, чтобы в нужный момент избежать неловкого молчания. Не забывайте про комплименты. Чтобы похвала попала в цель, надо немного разобраться в характере и правильно определить те качества, которыми девушка гордится, чтобы дать ей повод повосхищаться собой. Я люблю, когда девушка красива, умеет слушать, у нее грамотная речь. <br>
									И это тоже шутка!!! 
								</div>
								<div class="page">
									Главное, не волноваться. От волнения происходят всякие неприятные вещи. Просто расслабьтесь и отдыхайте. Побольше смейтесь, общайтесь, шутите, наслаждайтесь обстановкой. Но всегда помните: это не первый и не последний мужчина в вашей жизни, если что-то не так, никакой трагедии не случится. И поверьте, парня скорее заинтересует девушка веселая и всем довольная, а не нервная и зажатая. Показывайте своему собеседнику, что вам нравится его общение, то что он говорит. Он хотел сделать вам приятное и хочет, чтобы его старания не пропали даром. Даже если были какие-то мелкие промахи, не стоит о них упоминать. Дайте ему пару раз проявить галантность, например, заказать вам чашку кофе;). Можете обратиться к нему за советом в теме, в которой он разбирается. Это польстит его самолюбию. На мой взгляд, парень должен быть уверенным, умным, уважительным. И под конец самое важное, чего не стоит делать: всё время придерживаться какой-либо инструкции, в том числе и вышеописанной. 
								</div>
								<div class="page">
									КАК ЭТО РАБОТАЕТ?
									КРАТКО ПО ПУНКТАМ: <br>
									1. На вечер приходят 15 парней и 15 милых девушек <br>

									2. Проходят регистрацию <br>

									3. Как только ведущий дает команду парни и девушки содятся за столики по двое (парень, девушка) и начинают общаться, и на это у них 7 минут <br>

									4. Как только проходит 7 минут - бьет гонг, все парни
									пересаживаются за соседние столики к другим девушкам (меняются местами) и у них
									снова 7 минут на общение <br>

									5. И так пока каждый участник не пообщается с каждой
									участницей на вечеринке <br>

									6. В процессе вечера каждый участник(ца) заполняют анкеты
									симпатий, которые ведущий в конце собирает) <br>

									7. По этим анкетам подводятся итоги, и если
									встречаются взаимные симпатии, мы в тот же вечер обмениваем их личными контактными данными. Также координатами можно меняться во время общения на прямую. <br>

									На мероприятии запланирована небольшая развлекательная программа с конкурсами и подарками от партнеров.
 								</div>
							</div>
						</div>
					</div>
			</div>
			<!--нижний блок-->
			<div class="container-social">
				<div class="social_group">
					<div class="social">
						<img src="images/odnoklassniki.png">
					</div>
					<div class="social">
						<img src="images/vkontacte.png">
					</div>
					<div class="social">
						<img src="images/twitter.png">
					</div>
					<div class="social">
						<img src="images/facebook.png">
					</div>
					<div class="social">
						<img src="images/instagramm.png">
					</div>
				</div>
			</div>
			<div class="partners-group">
				<div class="partners_two">
					<img src="images/fitness.png" class="partners">
					<img src="images/beeline.png" class="partners">
				</div>
			</div>
		</div>	
		<div class="container-one hide">
			<div class="call-container">
				<div class="close"></div>
				<div class="form-container">
					<div class="form-name">
						<span> Ваше имя:</span><br>
						<input type="text">
					</div>
					<div class="form-name">
						<span> Ваш возраст:</span><br>
						<input type="text">
					</div>
					<div class="form-name">
						<span> Номер телефона:</span><br>
						<input type="text">
					</div>
					<div class="form-name">
						<span> Электронный адрес (необязательно):</span><br>
						<input type="text">
					</div>
					<div class="button">Заказать звонок</div>
				</div>
			</div>
		</div>
		<div class="container-two hide">
			<div class="contact-container">
				<div class="close"></div>
				<div class="container-text">
					<div class="text-contact">
						<span>Если у вас возникли какие - то вопросы, или вы хотите предложить нам помощь, или новую идею  - звоните:</span>
					</div>
					<div class="contacts">
						<span >8-905-480-1999   или    8-512-622252<br>(с 9 до 22:00)</span>
					</div>
					<div class="text-contact">
						<span> Или пишите на нашу электронную почту:</span>
					</div>
					<div class="contacts">
						<span>datingpark@mail.ru</span>
					</div>
					<div class="text-contact">
						<span> Мы в социальных сетях:</span>
					</div>
					<div class="my-social">
						<a href="https://vk.com/datingparkru" target="_blank" class="group"></a>
						<a href="http://www.odnoklassniki.ru/datingpark" target="_blank" class="group odnok"></a>
						<a href="https://www.facebook.com/datingpark" target="_blank" class="group face"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-three hide">
			<div class="container-invite">
				<div class="close"></div>
				<div class="block-invite">
					<div class="apply-cont">
						<span class="event">Ближайшее мероприятие состоится  20 апреля 2014 года в рестоклубе <a href="#" class="name-places">Perfect</a></span>
						<span class="places">Количество оставшихся мест: <a href="#" class="seats_event">7</a></span>
						<div class="apply-form">
							<span class="input-text">Ваше имя</span>
							<input type="text" class="input-info">
							<span class="input-text">Ваш возраст</span>
							<input type="text" class="input-info">
							<span class="input-text">Ваш номер телефона</span>
							<input type="text" class="input-info">
							<div class="button-apply">Подать заявку</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>