 @font-face {
    font-family: Gabriola; /* Имя шрифта */
    src: url(/fonts/Gabriola.ttf); /* Путь к файлу со шрифтом */
   }
html{
	font-family: "Gabriola" ;
	margin:0;
	padding: 0;
	height: 100%;
}
a, a:link, a:visited, a:active{
	text-decoration: none;
}
body{
	margin:0;
	padding: 0;
	overflow: auto;
	background: url("/images/fon.png");
}
.container{
	min-width: 960px;
	min-height: 100%;
	overflow: hidden;
}
.telefone{
	width: 845px;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 45px;
}
.contact{
	width: 130px;
	height: 50px;
	float:left;
	font-size: 22px;
	line-height: 50px;
}

.page_block{
	position: relative;
}
.page_cont{
	display: none;
}
.page_cont.active{
	display: block;
}
.page_wrap{
	height: 100%;
}
.page_wrap:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.page{
	width: 90%;
	display: none;
	vertical-align: middle;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}
.page.active{
	display: inline-block;
}
.what{
	float:left;
	cursor: pointer;
}
.what:hover{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	-webkit-box-shadow:  0px 0px 15px #fff;
	-moz-box-shadow: 	 0px 0px 15px #fff;
	box-shadow: 		 0px 0px 15px #fff;
}
.contact_text{
	float:right;
}
.call{
	width: 245px;
	float:right;
	font-size: 22px;
	line-height: 50px;
}
.call_me{
	float:right;
	cursor: pointer;
}
.call_me:hover{
	-webkit-box-shadow:  0px 0px 15px #fff;
	-moz-box-shadow: 	 0px 0px 15px #fff;
	box-shadow: 		 0px 0px 15px #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
}
.call_text{
	float:left;
}
.menu{
	width: 850px;
	height: 70px;
	background: url("/images/menu.png") no-repeat;
	margin:0 auto;
	line-height: 61px;
}
.right_menu{
	font-size: 22px;
	color: #8BDBA7;
	float:left;
}
.left_menu{
	font-size: 22px;
	color: #8BDBA7;
	float:right;
}
.about{
	margin-left:60px;
	cursor: pointer;
}
.about:hover{
	color:#f2bca4;
}
.media{
	margin-right: 70px;
	cursor: pointer;
}
.media:hover{
	color:#f2bca4;
}
.logotip{
	position: absolute;
	display: block;
	margin-left: 310px;
	margin-top: -68px;
}
.menu-container{
	margin-bottom: 65px;
}
.content{
	margin: 0 auto;
	width: 850px;
}
.home_items{
	overflow: hidden;
}
.home_item{
	width: 270px;
	height: 320px;
	background: url("/images/block.png") no-repeat;
	float: left;
	position: relative;
	margin-right: 18px;
}
.home_item:last-child{
	margin-right: 0;
}
.one{
	margin-top: 8px;
	margin-left: 10px;
}
.text-one{
	font-size: 28px;
	text-align: center;
	margin-top: -13px;
}
.to-page{
	width: 200px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	padding-left: 35px;
}
.arrow{
	width: 28px;
	height: 27px;
	background: url("/images/arrow.png");
	position: absolute;
	bottom: 0px;
	right: 0;
	margin: 10px 15px 15px 10px;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.arrow:hover{
	-webkit-box-shadow:  0px 0px 7px #3a6149;
	-moz-box-shadow: 	 0px 0px 7px #3a6149;
	box-shadow: 		 0px 0px 7px #3a6149;
}
.back{
	position: absolute;
	right: 42px;
	top: 5px;
	background: #4c7e60;
	border-radius: 5px;
	padding: 0 10px;
	color: #8BDBA7
}
.back:hover{
	color:#fff;
	-webkit-box-shadow:  0px 0px 7px #3a6149;
	-moz-box-shadow: 	 0px 0px 7px #3a6149;
	box-shadow: 		 0px 0px 7px #3a6149;
}
.invite-btn{
	width: 163px;
	height:41px;
	margin: 0 auto;
	background:#DBB99F;
	border-radius: 10px;
	font-size: 22px;
	text-align: center;
	line-height: 40px;
	margin-top: 50px;
	cursor: pointer;
	-webkit-box-shadow:  0px 0px 7px #3a6149;
	-moz-box-shadow: 	 0px 0px 7px #3a6149;
	box-shadow: 		 0px 0px 7px #3a6149;
}
.invite-btn:hover{
	font-size:25px;
	line-height: 38px;
	background:#F3BCA4;
	-webkit-box-shadow:  0px 0px 15px #004010;
	-moz-box-shadow: 	 0px 0px 15px #004010;
	box-shadow: 		 0px 0px 15px #004010;
}
.container-social{
	margin: 0px auto;
	width: 845px;
	text-align: center;
	margin-top: 50px;
}
.social{
	display: inline-block;
	padding: 0 6px;
}
.partners_one{
	display: inline-block;
}
.partners_two{
	display: inline-block;
	margin: -11px;
}

.social_group{
	display: inline-block;
}
.partners-group{
	width: 845px;
	margin: 0 auto;
	text-align:center;
}
.nope{
	display: none;
}
/*Что такое Speed Dating?*/

.history-cont{
	width: 777px;
	height: 455px;
	border-radius: 12px;
	background: url("/images/uzor1.png") no-repeat right top,
				url("/images/uzor2.png") no-repeat left bottom, 
				url("/images/gradient.png") repeat-x;
	box-shadow: 0 0 15px rgba(0,0,0,0.7);
	font-size: 20px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
}
.history-text{
	width: 700px;
	margin: 0 auto;
	padding-top: 32px;
}
.page_arrow{
	width: 40px;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top:50%;
	cursor: pointer;
}
.to-left{
	left: -40px;
}
.to-right{
	right: -40px;
}

/*Как это работает и О нас*/
.about-cont{
	width: 777px;
	height: 455px;
	border-radius: 12px;
	background: url("/images/uzor3.png") no-repeat right top,
				url("/images/uzor4.png") no-repeat left bottom, 
				url("/images/gradient.png") repeat-x;
	box-shadow: 0 0 15px rgba(0,0,0,0.7);
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
}
.about-text{
	width: 700px;
	margin: 0 auto;
	padding-top: 28px;
}
ol{
	text-align: left;
}

/*Советы и рекоммендации*/
.cont-advice{
	width: 777px;
	height: 455px;
	border-radius: 12px;
	background: url("/images/uzor5.png") no-repeat right top,
				url("/images/uzor6.png") no-repeat left bottom, 
				url("/images/gradient.png") repeat-x;
	box-shadow: 0 0 15px rgba(0,0,0,0.7);
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	margin: 0 auto;
}
.text-advice{
	width: 700px;
	margin: 0 auto;
	padding-top: 28px;
}

/*Контакты*/
.container-two{
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity:0;
}
.container-two:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.contact-container{
	width: 450px;
	height: 360px;
	background: url("/images/contact.png");
	position: relative;
	text-align: center;
	line-height: 25px;	
	display: inline-block;
	vertical-align: middle;
}
.close{
	width: 30px;
	height: 35px;
	position: absolute;
	background: url("/images/close.png");
	right: 0;
	margin: 4px;
	margin-top: -1px;
	cursor: pointer;
}

.text-contact{
	width: 360px;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 25px;
}
.contacts{
	color:#ffffff;
	font-size: 30px;
	margin:0 auto;
	text-align: center;
	width: 360px;
	padding-top: 10px;
}
.my-social{
	width: 165px;
	margin-top: 15px;
	margin: 0 auto;
}
.group{
	display: block;
	background: url("/images/vk.png") no-repeat;
	width: 21px;
	height: 21px;
	float:left;
	margin-left: 20px;
	margin-top: 15px;
	cursor: pointer;
}
.group:hover{
	box-shadow: 0 0 15px #ffffff;
}
.odnok{
	background: url("/images/odnoklas.png") no-repeat;
}
.face{
	background: url("/images/face.png") no-repeat;
}
input:hover{
	-webkit-box-shadow:  0px 0px 15px #747776;
	-moz-box-shadow: 	 0px 0px 15px #747776;
	box-shadow: 		 0px 0px 15px #747776;
}
/*Заказ обратного звонка*/
.container-one,
.container-three{
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	opacity:0;
}
.container-one:before,
.container-three:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.hide{
	display: none;
}
.call-container{
	width: 450px;
	height: 360px;
	background: url("/images/call.png");
	position: relative;
	text-align: center;
	line-height: 25px;	
	display: inline-block;
	vertical-align: middle;
}
.form-container{
	width: 320px;
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
}
.form-name{
	padding-top: 13px;
}
input{
	width: 300px;
	height: 25px;
	border-radius: 10px;
	border: none;
	margin-top: 5px;
	text-align: center;
	outline: none;
}
.button{
	width: 150px;
	height: 30px;
	border:1px solid #000000;
	border-radius: 10px;
	margin: auto;
	margin-top: 20px;
	background-color: #fff;
	line-height: 29px;
	cursor: pointer;
}
.button:hover{
	-webkit-box-shadow:  0px 0px 15px #747776;
	-moz-box-shadow: 	 0px 0px 15px #747776;
	box-shadow: 		 0px 0px 15px #747776;
	background-color: #f7e5e5;
}

 /*Заглушка*/
.coming-content{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	font-size: 65px;
	color:#206150;
	padding-top:150px;
	display: none;

}
.coming-soon{
	position: absolute;
	margin-left: 20px;
}
.logo-fone{
	position: relative;
	height: 500px;
	background: url("/images/coming-logo.png") no-repeat;
	margin-top: 30px;
}

/*Подать заявку*/
.container-invite{
		width: 460px;
		height: 350px;
		background-color: #8ED8C1;
		border:6px solid #2D896F;
		border-radius: 15px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
}
.block-invite{
	height: 100%;
	background:   
			url("../images/uzor7.png") no-repeat right top,
			url("../images/uzor8.png") no-repeat left bottom;

}
.apply-cont{
	width: 320px;
	margin:0 auto;
	text-align: center;
}
.event{
	font-size:25px;
	line-height: 20px;
	margin-top: 10px;
}
.places{
	font-size: 22px;
}
.input-info{
	width: 250px;
	height:20px;
	border-radius: 10px;
	padding: 2px;
	border:none;
	display: block;
	margin: 0 auto;
}
.input-text{
	font-size: 22px;
	line-height: 25px;

}
.apply-form{
	text-align: center;
	margin: 0 auto;
	margin-top: 5px;
}
.button-apply{
	margin: 0 auto;
	width: 130px;
	height: 34px;
	background-color: #e6bcaa;
	border-radius: 10px;
	border:1px solid #578476;
	margin-top: 30px;
	font-size: 23px;
	line-height: 34px;
	cursor: pointer;
}
.button-apply:hover{
	-webkit-box-shadow:  0px 0px 15px #747776;
	-moz-box-shadow: 	 0px 0px 15px #747776;
	box-shadow: 		 0px 0px 15px #747776;
	background-color: #fadcd0;
}
/*Отзывы*/
.comment-cont{
	width: 785px;
	height: 419px;
	margin: 0 auto;

}
.comment-place{
	height: 400px;
}
.comment-one{
	width: 790px;
	height: 100px;
}
.comment-two{
	width: 790px;
	height: 100px;
}
.place_user{
	width: 60px;
	height: 100px;
	text-align: center;
	float:left;
}

.name_user{
	font-size: 20px;
	line-height: 20px;
}
.place_avatar{
	width: 55px;
	height: 50px;
	background: url("../images/avaplace_color.png");
	border:3px solid #6c8c5a;
	border-radius: 10px;
}
.avatar{
	width: 41px;
	height: 45px;
	background: url("../images/user_ava.png");
	margin: 0 auto;
	margin-top: 4px;
}
.place_comment{
	width: 700px;
	height: auto;
	background: #e7f1da;
	border:2px solid #69954b;
	border-radius: 10px;
	float:right;
	padding-left: 5px;
	line-height: 25px;
}
.comment_user{
	font-size: 22px;
	padding: 10px;
}
.place_button-invite{
	width: 163px;
	height: 41px;
	background:#DBB99F;
	border-radius: 10px;
	margin: 0 auto;
	-webkit-box-shadow:  0px 0px 15px #3a6149;
	-moz-box-shadow: 	 0px 0px 15px #3a6149;
	box-shadow: 		 0px 0px 15px #3a6149;
	font-size: 22px;
	text-align: center;
	line-height: 41px;
	cursor: pointer;
}
.place_button-invite:hover{
	background:#F3BCA4;
	font-size: 24px;
	line-height: 39px;
	-webkit-box-shadow:  0px 0px 15px #004010;
	-moz-box-shadow: 	 0px 0px 15px #004010;
	box-shadow: 		 0px 0px 15px #004010;
}
/*общие стили*/
.name-places{
	color:#000;
}
.seats_event{
	color:#000;
}
a{
	color:#8BDBA7;
}


